## Sentiment Analysis
**by Jazmia Henry**

The goal of this modeling challenge is to show my ability to make complex models to make sentiment analysis using the data provided. Below is not only code used to acheive those ends, but also information on how these models can be improved. As a computer scientist, I care not only able writing easily digestable and readable code, but also acknowledging possible places of improvement. I strive to always grow as a scientist and engineer. Thank you.

In [1]:
import os
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import cv2
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [2]:
df1 = pd.read_csv('post_metrics_and_comments.csv')
df2 = pd.read_csv('hashtag_top_appearances.csv')

In [3]:
#Transforming datasets

In [4]:
df1.head()

,post_url,username,date_posted,img_urls,caption,max_likes,max_comments,max_views,followers,following,concatenated_comments
0,https://www.instagram.com/p/B-y2oOeDpj2/,064_steady,2020-04-10,{https://finesse-instagram-post-images.s3-us-w...,온라인개학으로 아침마다 아이들에게 모닝콜을 해줄 수 있어서 행복합니다. 하하하하😭 ...,1019,38,NaN,8423,697,@_o9.02 가입하자 연재야😘|아고 ㅠㅠㅠㅠ 힘드실텐데 아자아자 화이팅입니다 !!...
1,https://www.instagram.com/p/B_B4e5qDtOU/,064_steady,2020-04-16,{https://finesse-instagram-post-images.s3-us-w...,2014. 04. 16. 우리 모두 웃을 수 있기를... more,1039,12,NaN,8423,697,@nam_bbs 정말요?🙌|옷입는 스타일 너무너무 멋있으세요 ☺️|코디 너무 좋아요...
2,https://www.instagram.com/p/B-3-Skoj2ub/,064_steady,2020-04-12,{https://finesse-instagram-post-images.s3-us-w...,내일이 월요일이니까 웃자😁... more,764,35,NaN,8423,697,❤️|헐 선생님....멋져요....♥️|워료일 쪼아~ 최고로 쪼아~|Very sum...
3,https://www.instagram.com/p/B_UhfCuDnJU/,064_steady,2020-04-23,{https://finesse-instagram-post-images.s3-us-w...,너무 배불러요 ㅠㅠㅠ... more,779,56,NaN,8423,697,ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ배불러졌다는게 너무 웃겨욬ㅋㅋㅋㅋㅋ|깔끔한 쓰앵님🤭👍🏿|😍😍😍😍❤...
4,https://www.instagram.com/p/B-6isIeD-0-/,064_steady,2020-04-13,{https://finesse-instagram-post-images.s3-us-w...,월요병 극복🥴,733,26,NaN,8423,697,극복 나이스👍🏻|@mndp404 시간은 결국 흐르니 ㅠㅠ|내일도 화요팅~!|@yeo...

In [5]:
len(df1.index)

11637

In [6]:
df2.head()

                                   post_url  days_in_hashtag_top_section
0  https://www.instagram.com/p/B-zJQlUI6uN/                           38
1  https://www.instagram.com/p/B-cuVYrJncn/                           36
2  https://www.instagram.com/p/B_CHJzXDeNF/                           33
3  https://www.instagram.com/p/B-_07jGpiWT/                           29
4  https://www.instagram.com/p/B-xB_snKjld/                           29

In [7]:
len(df2.index)

25062

In [8]:
df4 = pd.merge(df2, df1)
df4.head()

,post_url,days_in_hashtag_top_section,username,date_posted,img_urls,caption,max_likes,max_comments,max_views,followers,following,concatenated_comments
0,https://www.instagram.com/p/B-cuVYrJncn/,36,xxlexx007,2020-04-01,{https://finesse-instagram-post-images.s3-us-w...,i’m a gorilla in a f*ckin coupe... more,2283,151,NaN,4487,896,@opulent_____clothing 👊🏾👊🏾|@opulent_____clothi...
1,https://www.instagram.com/p/B_CHJzXDeNF/,33,vinceropitini,2020-04-16,{https://finesse-instagram-post-images.s3-us-w...,bitta og obsolescence for your timeline x,1109,50,NaN,4038,1109,@zack.paterson heheh 🥵🥺|@zack.paterson heheh 🥵...
2,https://www.instagram.com/p/B-_07jGpiWT/,29,squardes_,2020-04-15,{https://finesse-instagram-post-images.s3-us-w...,Gm 🌈 | follow @squardes_,506,4,NaN,25000,26,Gm 🌈 | follow @squardes_|❤|A fit🎉🎉🎉🎉|@squardes...
3,https://www.instagram.com/p/B-xB_snKjld/,29,squardes_,2020-04-09,{https://finesse-instagram-post-images.s3-us-w...,Clean?🌊 | follow @squardes_,1758,14,NaN,25000,26,"Hey Bro! Love your vibe, let’s collab. DM main..."
4,https://www.instagram.com/p/B-9fgRUqRo5/,28,misfashionedsneakers,2020-04-14,{https://finesse-instagram-post-images.s3-us-w...,Comic - @toobrokeforysl ... more,20478,31,NaN,48600,5,1TAG=+100 IQ @ayepixel|@falak_ghauri 🥺|@falak_...

In [9]:
len(df4.index)

11637

#### Data transformation Improvement
Data could be more appropriately engineered using PostgreSQL to:
1. Avoid duplicate data across dataframes while merging
2. Joining Dataframes by simular columns (ie joining date_posted and date_time_collected)
3. Using SQLite to process SQL table in Jupyter notebook and transform into Dataframe using Pandas

In [10]:
for col in df4.columns: 
    print(col)

post_url
days_in_hashtag_top_section
username
date_posted
img_urls
caption
max_likes
max_comments
max_views
followers
following
concatenated_comments

In [11]:
df = df4.drop(['post_url', 'username', 'date_posted', 'img_urls', 'max_likes', 'max_comments', 'max_views', 'followers', 'following', 'concatenated_comments'], axis=1)

In [12]:
df

,days_in_hashtag_top_section,caption
0,36,i’m a gorilla in a f*ckin coupe... more
1,33,bitta og obsolescence for your timeline x
2,29,Gm 🌈 | follow @squardes_
3,29,Clean?🌊 | follow @squardes_
4,28,Comic - @toobrokeforysl ... more
...,...,...
11632,0,"Оказаться сейчас на море, очень бы не помешало..."
11633,0,Because I can’t steel my sister’s clothes anym...
11634,0,check
11635,0,Views | @culturfits
11636,0,REMINISCING 🙃... more

In [13]:
#drop na
df = df.dropna(subset=['caption'])

In [14]:
df.head()

   days_in_hashtag_top_section                                    caption
0                           36    i’m a gorilla in a f*ckin coupe... more
1                           33  bitta og obsolescence for your timeline x
2                           29                   Gm 🌈 | follow @squardes_
3                           29                Clean?🌊 | follow @squardes_
4                           28           Comic - @toobrokeforysl ... more

In [15]:
y = df.days_in_hashtag_top_section

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [17]:
import googletrans
from googletrans import Translator

In [18]:
caption = df.caption

In [19]:
caption

0                  i’m a gorilla in a f*ckin coupe... more
1                bitta og obsolescence for your timeline x
2                                 Gm 🌈 | follow @squardes_
3                              Clean?🌊 | follow @squardes_
4                         Comic - @toobrokeforysl ... more
                               ...
11632    Оказаться сейчас на море, очень бы не помешало...
11633    Because I can’t steel my sister’s clothes anym...
11634                                                check
11635                                  Views | @culturfits
11636                                REMINISCING 🙃... more
Name: caption, Length: 11636, dtype: object

In [20]:
#clean caption data
import re
REPLACE_NO_SPACE = re.compile("[.;:!\'?,\"()\[\]]")
REPLACE_WITH_SPACE = re.compile("(<br\s*/><br\s*/>)|(\-)|(\/)")

def preprocess_caption(caption):
    reviews = [REPLACE_NO_SPACE.sub("", line.lower()) for line in caption]
    reviews = [REPLACE_WITH_SPACE.sub(" ", line) for line in caption]
    
    return caption

train_clean = preprocess_caption(caption)

In [21]:
#training data
X_train, X_test, y_train, y_test = train_test_split(train_clean, y, test_size=0.2)

In [22]:
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(9308,) (9308,)
(2328,) (2328,)

In [23]:
#vectorize comment data
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(binary=False)
cv.fit(X_train)
X = cv.transform(train_clean)
X_train = cv.transform(X_train)

In [24]:
#Naive Bayes approach to sentiment analysis

In [25]:
for c in [0.01, 0.05, 0.25, 0.5, 1]:
    
    lr = LogisticRegression(C=c)
    lr.fit(X_train, y_train)
    print ("Accuracy for C=%s: %s" % (c, accuracy_score(y, lr.predict(X))))

Accuracy for C=0.01: 0.9565142660708147
Accuracy for C=0.05: 0.9565142660708147
Accuracy for C=0.25: 0.9569439669989687
Accuracy for C=0.5: 0.9582330697834307
Accuracy for C=1: 0.9621863183224476

#### Captions that are able to achieve top hashtag status are overwhlemingly positive.

#### Improvements to the Sentiment Analysis
    Translate all captions into English.
        A. Import LangDetect and Googletrans packages 
        B. Turn df.caption into a dataframe
        C. Identify non-English words and translate into English using Googletrans
        D. Use caption dataframe for sentiment analysis preproccessing